<h2>Edit Library</h2>

<div class="row">

  <div class="col-md-6">
    <LibraryItemForm @item={{model}} @buttonLabel="Save changes" @action="saveLibrary" />
  </div>

  <div class="col-md-4">
    <LibraryItem @item={{model}}>
      <br />
    </LibraryItem>
  </div>

</div>