<h2>Add a new local Library</h2>
<div class="row">

  <div class="col-md-6">
    <LibraryItemForm @item={{model}} @buttonLabel="Add To Library List" @action="saveLibrary" />
  </div>

  <div class="col-md-4">
    <LibraryItem @item={{model}}>
      <br />
    </LibraryItem>
  </div>

</div>